---
import { BodyShort, Heading } from "@navikt/ds-react";
import type { Utbetaling } from "@src/types/types";
import { formatToDetailedDate } from "@src/utils/client/date";
import { formaterTallUtenDesimaler } from "@src/utils/client/utbetalingDetalje";
import style from "./SummaryPanel.module.css";

interface Props {
  utbetaling: Utbetaling;
}

const { utbetaling } = Astro.props;

const { erUtbetalt, ytelseDato, nettoUtbetalt, ytelse } = utbetaling;
const isUtbetaltText = erUtbetalt
  ? "Utbetalt"
  : "Forventet overføring til bank";
const sumInNok = `${formaterTallUtenDesimaler(nettoUtbetalt)} kr`;
---

<div
  class={`${style.contentWrapper} ${!erUtbetalt && style.kommendeUtbetalingWrapper}`}
>
  <div class={style.beløpOgDatoContainer}>
    <BodyShort className={style.utbetaltDato}
      >{`${isUtbetaltText} ${formatToDetailedDate(ytelseDato)}`}</BodyShort
    >
    <Heading className={style.belopUtbetaltHeader} level="2" size="xlarge">
      {sumInNok}
    </Heading>
  </div>
</div>
<div class={style.printContent}>
  <BodyShort weight={'semibold'} className={style.printSummaryHeading}>
    <span>{ytelse}</span>
    <span>{sumInNok}</span>
  </BodyShort>
  <BodyShort className={style.BodyText}
    >{`${isUtbetaltText} ${formatToDetailedDate(ytelseDato)}`}</BodyShort
  >
</div>
