---
import ErrorPanel from "@src/components/errorPanel/ErrorPanel.astro";
import PageHeader from "@src/components/pageHeader/PageHeader.astro";
import PrintButton from "@src/components/prinButton/PrintButton";
import type { Bruker, Utbetaling } from "@src/types/types";
import { formatToDetailedDate } from "@src/utils/client/date";
import logger from "@src/utils/server/logger";
import { fetchNavn } from "@src/utils/server/navn/fetchNavn";
import { minSideUrl, pdlApiUrl } from "@src/utils/server/urls";
import { fetchUtbetaling } from "@src/utils/server/utbetaling/fetchUtbetaling";
import PrintPageHeading from "../printPageHeading/PrintPageHeading.astro";
import SummaryPanel from "./summaryPanel/SummaryPanel.astro";
import style from "./UtbetalingPage.module.css";
import UtbetalingCalculations from "./utbetalingCalculations/UtbetalingCalculations.astro";
import UtbetalingDescription from "./utbetalingDescription/UtbetalingDescription.astro";

interface Props {
  id: string;
}

const { id } = Astro.props;

let enkelUtbetaling: Utbetaling | null = null;
let utbetalingFetchError: boolean = false;
let bruker: Bruker = { navn: null, ident: null };

try {
  enkelUtbetaling = await fetchUtbetaling(Astro.locals.token, id);
} catch (error: any) {
  logger.error("Fetch failed.", error.message);
  utbetalingFetchError = true;
}

try {
  bruker = await fetchNavn(Astro.locals.token, pdlApiUrl);
} catch (error: any) {
  logger.error("Could not fetch user info.", error.message);
}
---

{
  enkelUtbetaling && !utbetalingFetchError ? (
    <>
      <PrintPageHeading bruker={bruker} />
      <PageHeader
        title={enkelUtbetaling.ytelse}
        breadcrumbItems={[
          { label: "Min side", href: minSideUrl },
          { label: "Utbetalinger", href: "/utbetalingsoversikt" },
        ]}
      />
      <SummaryPanel utbetaling={enkelUtbetaling} />
      <div class={style.detailsContainer}>
        <UtbetalingCalculations utbetaling={enkelUtbetaling} />
        {enkelUtbetaling.melding && (
          <UtbetalingDescription
            heading="Melding"
            bodyText={enkelUtbetaling.melding}
          />
        )}
        <UtbetalingDescription
          heading={'Periode'}
          bodyText={`${formatToDetailedDate(enkelUtbetaling.ytelsePeriode.fom)} - ${formatToDetailedDate(
            enkelUtbetaling.ytelsePeriode.tom,
          )} til konto ${enkelUtbetaling.kontonummer}`}
        />
      </div>
      <PrintButton client:only="react" />
    </>
  ) : (
    <ErrorPanel isLandingsside={false} />
  )
}
